 
            .slides {
   // height:800px;
//margin: 0px auto;
// overflow:hidden;
   // position:relative;
  // width:1100px;
}
.slides .uls {
    list-style:  none;
  // position:relative;
}
/* keyframes #anim_slides */
@-webkit-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
@-moz-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}

.slides .uls li {
    opacity:0;
    position:absolute;
   top:-9px;
left:-9px;
    /* css3 animation */
    -webkit-animation-name: anim_slides;
    -webkit-animation-duration: 24.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

     -moz-animation-name: anim_slides;
    -moz-animation-duration: 24.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}

/* css3 delays */
.slides .uls  li:nth-child(2), .slides .uls  li:nth-child(2) div {
    -webkit-animation-delay: 6.0s;
    -moz-animation-delay: 6.0s;
}
.slides .uls  li:nth-child(3), .slides .uls  li:nth-child(3) div {
    -webkit-animation-delay: 12.0s;
    -moz-animation-delay: 12.0s;
}
.slides .uls  li:nth-child(4), .slides .uls  li:nth-child(4) div {
    -webkit-animation-delay: 18.0s;
    -moz-animation-delay: 18.0s;
}
.slides .uls li img {
    display:block;

}

/* keyframes #anim_titles */
@-webkit-keyframes anim_titles {
    0% {
        left:100%;
        opacity:0;
    }
    5% {
        left:10%;
        opacity:1;
    }
    20% {
        left:10%;
        opacity:1;
    }
    25% {
        left:100%;
        opacity:0;
    }
    100% {
        left:100%;
        opacity:0;
    }
}
@-moz-keyframes anim_titles {
    0% {
        left:100%;
        opacity:0;
    }
    5% {
        left:10%;
        opacity:1;
    }
    20% {
        left:10%;
        opacity:1;
    }
    25% {
        left:100%;
        opacity:0;
    }
    100% {
        left:100%;
        opacity:0;
    }
}
           
.slides .uls li div {
    background-color:#000000;
    border-radius:10px 10px 10px 10px;
    box-shadow:0 0 5px #FFFFFF inset;
    color:#FFFFFF;
    font-size:20px;
    left:10%;
    margin:30px, auto;
    padding:20px;
    position:absolute;
    top:30%;
    width:200px;

    /* css3 animation */
    -webkit-animation-name: anim_titles;
    -webkit-animation-duration: 24.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: anim_titles;
    -moz-animation-duration: 24.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}
                  
     
     

    /*Strip the ul of padding and list styling*/
    #menu{
                margin-left: 300px;
                padding-top: 60px;

    }
    #menus{
            margin-left: 95px;
            margin-top: -49px;


        }
ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
        

        

}

/*Create a horizontal list with spacing*/
li {
	display:inline-block;
	float: left;
	margin-right: 1px;
        
        
}

/*Style for menu links*/
li a {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: cursive, Helvetica, Arial, sans-serif;
	color: #fff;
	background: tomato;
	text-decoration: none;
        
        
}

/*Hover state for top level links*/
li:hover a {
	background: #19c589;
}

/*Style for dropdown links*/
li:hover ul a {
	background: #f3f3f3;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
      //  margin-left: 10px;

}

/*Hover state for dropdown links*/
li:hover ul a:hover {
	background: #19c589;
	color: #fff;
}

/*Hide dropdown links until they are needed*/
li ul {
	display: none;
        
}

/*Make dropdown links vertical*/
li ul li {
	display: block;
	float: none;
        
}

/*Prevent text wrapping*/
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;

        
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
	display: block;
        
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: cursive, Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #19c589;
	text-align: center;
	padding: 10px 0;
	display: none;


}

/*Hide checkbox   */
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}


/*Responsive Styles*/

@media screen and (max-width : 760px){
	/*Make dropdown links appear inline*/
	ul {
		position: static;
		display: none;
                
	}
	/*Create vertical spacing*/
	li {
		margin-bottom: 1px;
                
	}
	/*Make all menu links full width*/
	ul li, li a {
		width: 100%;
               }
	/*Display 'show menu' link*/
	.show-menu {
		display:block;
                margin-left: 220px;
               //padding-top: 60px;
	}
        #menu{
             margin-left: 220px;
                padding-top: 10px;
        }
        #menus{
                margin-right: 40px;
		display:block;

            }

       .uls {
		position: static;
	display: block;
                
	}
}
body{
   // background: url(back.jpg);
}
               
                .navbar-fix-top{
                    position: fixed;
                    right:0;
                    left:0;
                   // z-index:1030;
                    //margin-bottom:0;
                }    

#a{
    //margin-top:50px;
}  
 h3{

            list-style-type: none;

           // margin:60px;
            padding:45px;
           // position: static;



        }